<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles.css">
    <title>Page not found</title>
</head>
    <body>
        <header class="header">
            <a href="../index.html"><img class="header__img" src="https://i.imgur.com/p9IAvh7.png" alt="Logo julioDev" /></a>
            <div class="header__menu">
                <div class="header__menu--profile">
                    <img src="../assets/usuario.png" alt="User">
                    <p class="texto">Perfil</p>
                    <ul>
                        <li><a href="../julioDev-video/components/login.html" target="pop-up">Cuenta</a></li>
                        <li><a href="#">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <section class="page-not-found">
            <div class="animacion-404">
                <div class="box hingebox">
                  <h1 class="page-not-found__head text animated hinge">404</h1>
                </div>
              </div>
            <h3 class="page-not-found__message">Lo sentimos, ésto no es lo que buscabas</h3>
            <p class="page-not-found__instructions">Click <a href="#">aquí</a> o en el logo "julioDev" para ir al inicio</p>
        </section>
        
        <footer class="footer">
            <a href="#">Términos de uso</a>
            <a href="#">Declaración de privacidad</a>
            <a href="#">Centro de ayuda</a>
        </footer>
    </body>
</html>